@media screen and (max-width: 450px) {
    .formulario-cadastro {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        font-size: 14px;
    }

    .input {
        margin: 15px;
        width: 300px;
        font-size: 12px;
    }

    #btn-codigo{
        font-size: 13px;
        margin: 2px 0 2px 15px;
    }

    #btn-cadastrar {
        width: 300px;
        margin: 5px 0 10px 25px;
        font-size: 19px;     
    }

    .span-bemvindo{
        margin: 10px;
        font-size: 25px;
    }

    .span-cadastro{
        font-size: 20px;
    }

    .titulo-cadastro{
        text-align: center;
    }

    #erroEmail{
        font-size: 18px;
        margin-left: 20px;
    }
    
    .olho{
        width: 25px;
        height: 25px;
     }
    
     .olho{
        width: 19px;
        height: 19px;
     }

     .span-olho{
        position: absolute;
        right: 15%;
        top: 73.3%;
    }
}