body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.pagina-cadastro{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-cadastro{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputCodigo{
    display: none;
}